.darkmode_toggle_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  --theme-toggle-dark: #303539;
  --theme-toggle-light: rgb(255, 255, 255);
  --theme-accent-color: #4bb2f9;
}

.darkmode_checkbox_label {
  background-color: var(--theme-toggle-dark);
  border: 1px solid var(--theme-accent-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  border-radius: 50px;
  padding: 0.3rem;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in;
}

.darkmode_checkbox_label .darkmode_slider {
  background-color: var(--theme-accent-color);
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.darkmode_checkbox_input:checked + .darkmode_checkbox_label .darkmode_slider {
  transform: translateX(1.8rem);
}

.darkmode_checkbox_input:checked + .darkmode_checkbox_label {
  background-color: var(--theme-toggle-light);
}

i.sun {
  color: orange;
  text-shadow: 0 0 7px orange;
}

i.moon {
  color: #fff;
  text-shadow: 0 0 7px #2e67f8;
}
