:root {
  --header-bg-color: #282828;
  --footer-bg-color: #282828;
  --sidebar-bg-color: #3f3f3f;
  --body-bg-color: #121212;
  --task-bg-color: #282828;
  --task-details-color: #303539;
  --completed-task-color: #717171;
  --input-field-color: #303539;
  --project-input-color: #717171;
  --task-form-color: #303539;
  --priority-slider-color: #282828;
  --task-checkbox-hover-color: orange;
  --task-checkbox-checked-color: orange;
  --task-form-border-color: #4bb2f9;
  --primary-accent-color: #4bb2f9;
  --font-color: rgb(255, 255, 255);
  --white: rgb(255, 255, 255);
  --black: #121212;
  --transparent-color: rgba(0, 0, 0, 0);
}

body.light_theme {
  --header-bg-color: #bbdcfd;
  --footer-bg-color: #bbdcfd;
  --sidebar-bg-color: #eee;
  --body-bg-color: #f7f7f7;
  --task-bg-color: #eee;
  --task-details-color: #bbdcfd;
  --completed-task-color: #717171;
  --input-field-color: #eee;
  --project-input-color: #f7f7f7;
  --task-form-color: #eee;
  --priority-slider-color: #8b8b8b;
  --task-checkbox-hover-color: orange;
  --task-checkbox-checked-color: orange;
  --task-form-border-color: #4bb2f9;
  --font-color: #121212;
}

body.light_theme .dueDate input {
  color-scheme: light;
}

@font-face {
  font-family: "Futura";
  src: url("./futura-pt-cufonfonts/FuturaCyrillicMedium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("./futura-pt-cufonfonts/FuturaCyrillicBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Futura", system-ui, "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
}

i,
.project_icon {
  color: var(--primary-accent-color);
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.header {
  display: grid;
  grid-template-columns: 2rem 1fr 1rem;
  grid-template-rows: 2rem;
  align-items: center;
  gap: 1rem;
  background-color: var(--header-bg-color);
  margin: -1rem -1rem 1rem -1rem;
  padding: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--sidebar-bg-color);
  position: fixed;
  height: 100vh;
  width: 17rem;
  z-index: 1;
}

.task_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--body-bg-color);
  gap: 0.5rem;
  position: fixed;
  left: 17rem;
  height: 100vh;
  width: calc(100vw - 17rem);
}

/* Buttons */
.addTaskBtn button {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Add and Edit Task Forms */
button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: none;
  background-color: var(--input-field-color);
  color: (--font-color);
}

button {
  background-color: inherit;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  width: 100%;
}

input {
  appearance: none;
}

textarea {
  resize: none;
}

label,
legend {
  color: var(--font-color);
}

input:focus,
textarea:focus {
  outline: none;
}

.add_task_form_div {
  padding: 0 1rem;
  position: relative;
}

.edit-task-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.add_task_form,
.edit_task_form {
  display: flex;
  flex-direction: column;
  background-color: var(--task-form-color);
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid var(--task-form-border-color);
}

#title,
#title-edit-task,
textarea,
legend,
label {
  padding: 0.4rem 0;
}

#title,
#title-edit-task {
  padding-right: 1rem;
}

form .dueDate {
  padding-top: 1rem;
}

.dueDate input {
  padding: 0.4rem;
  border: 2px solid var(--primary-accent-color);
  border-radius: 5px;
  color-scheme: dark;
}

.task_priority {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.priority_switch {
  position: relative;
  width: 16rem;
  display: flex;
  justify-content: center;
}

.priority_switch:before {
  background-color: var(--priority-slider-color);
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1.5rem;
  border-radius: 30px;
}

.label_priority {
  width: 4.5rem;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: color 200ms ease-out;
  z-index: 1;
  color: var(--font-color);
}

.label_priority:hover {
  color: var(--primary-accent-color);
}

.switch_indicator {
  background-color: green;
  opacity: 0.5;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  left: 1.75rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97),
    background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
}

#low:checked ~ .switch_indicator,
#low-edit-task:checked ~ .switch_indicator {
  background: green;
}

#medium:checked ~ .switch_indicator,
#medium-edit-task:checked ~ .switch_indicator {
  background: yellow;
  transform: translate(4.5rem, -50%);
}

#high:checked ~ .switch_indicator,
#high-edit-task:checked ~ .switch_indicator {
  background: red;
  transform: translate(9rem, -50%);
}

.addTaskFormBtn,
.confirmEditTaskBtn {
  background-color: green;
}

.addTaskFormBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: fit-content;
}

.cancelTaskFormBtn,
.cancelEditTaskBtn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0;
  right: 1rem;
  opacity: 0.8;
  background-color: var(--transparent-color);
}

.cancelEditTaskBtn {
  right: 0;
}

.fa-xmark {
  color: red;
}

/* Sidebar */
.task_directory {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.nonProjectDirectoryDiv,
.project_title {
  display: grid;
  grid-template-columns: 1.5rem 1fr 2rem;
  grid-template-rows: 2rem;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

.nonProjectDirectoryDiv .nonProjectDirectory,
.project_title_name {
  justify-self: left;
}

.project_section {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  padding-top: 1.5rem;
}

.project_directory {
  overflow-y: auto;
  padding-top: 0.5rem;
}

footer {
  margin: 1rem -1rem -1rem -1rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Add Project Form */
.add_project_form,
.edit_project_form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
}

#project_name,
#edit_project_name {
  padding: 0.3rem;
  border-radius: 8px;
  background-color: var(--project-input-color);
  border: 2px solid var(--primary-accent-color);
}

.duplicateNameErrorMessage,
.dupNameErrorMsg_editForm {
  text-align: center;
  color: red;
}

.project_form_buttons,
.edit_project_form_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.project_form_buttons .addProjectBtn,
.edit_project_form_buttons .confirmEditProjectBtn {
  background-color: green;
  padding: 0.3rem;
}

.project_form_buttons .cancelProjectBtn,
.edit_project_form_buttons .cancelEditProjectBtn {
  background-color: red;
  padding: 0.3rem;
}

/* Project Render */
.projectDivUI {
  display: grid;
  grid-template-columns: 2rem 8rem 1fr;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  word-wrap: break-word;
  align-items: center;
}

.add_project button {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  text-align: start;
}

.add_project i {
  font-size: 1.4rem;
}

.projectOptionsIcon {
  display: none;
}

.optionsDiv {
  display: none;
  position: absolute;
}

.projectDivUI:hover .projectOptionsIcon {
  position: relative;
  display: flex;
  justify-self: right;
}

.projectOptionsIcon:hover {
  left: -1.3rem;
  color: var(--transparent-color);
}

.projectOptionsIcon:hover .optionsDiv {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--primary-accent-color);
}

.taskCount,
.projectTaskCount {
  background-color: var(--primary-accent-color);
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noTasks {
  opacity: 0;
}

/* Task Render */
.directory_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.task_list {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}

.taskDivUI {
  background-color: var(--task-bg-color);
  display: grid;
  grid-template-columns: 1fr 25fr 5fr 8fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  word-wrap: break-word;
  width: 100%;
}

.taskDetailsDiv {
  margin-left: 0.5rem;
  padding: 0.5rem;
  background-color: var(--task-details-color);
  border-radius: 5px;
}

.completedTask {
  opacity: 0.5;
  background-color: var(--completed-task-color);
}

.completedTask .taskTitle {
  text-decoration: line-through;
}

.taskDetails {
  justify-self: right;
}

.taskDueDate {
  justify-self: center;
}

.addTaskBtn {
  padding: 0 1rem;
}

.low-priority {
  border-left: 0.5rem solid green;
}

.medium-priority {
  border-left: 0.5rem solid yellow;
}

.high-priority {
  border-left: 0.5rem solid red;
}

.taskCheckbox {
  height: 1rem;
  width: 1rem;
  border-radius: 4px;
  background-color: var(--white);
  border: 2px solid var(--task-checkbox-checked-color);
  cursor: pointer;
}

.taskCheckbox:hover {
  background-color: var(--task-checkbox-hover-color);
}

.taskCheckbox:checked {
  background-color: var(--task-checkbox-checked-color);
}

.taskCheckbox:after {
  content: "";
  display: none;
  position: absolute;
  left: 1.25rem;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.taskCheckbox:checked:after {
  display: block;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

/* Animations */
.sidebar,
.task_container {
  transition: all 0.5s ease;
}

/* Font Styling */
.header {
  font-size: 1.6rem;
  font-weight: 700;
}

.app_logo {
  font-size: 2rem;
  color: var(--white);
}

.collapse_sidebar_icon {
  transform: rotateY(180deg);
}

.collapse_sidebar_icon,
.expand_sidebar_icon {
  color: var(--white);
  font-size: 1.5rem;
}

footer,
.label_priority,
.addTaskFormBtn,
.confirmEditTaskBtn {
  font-size: 0.8rem;
}

.directory_header {
  font-size: 1.5rem;
  font-weight: 700;
}

.task_directory,
.project_title,
.project_icon {
  font-size: 1.25rem;
}

.projectDivUI,
#project_name,
#edit_project_name,
.add_project button {
  font-size: 1.1rem;
}

.taskCount,
.projectTaskCount,
.duplicateNameErrorMessage,
.dupNameErrorMsg_editForm {
  font-size: 0.9rem;
}

.addTaskBtn button {
  font-size: 1.1rem;
}

.project_form_buttons,
.edit_project_form_buttons {
  font-size: 0.9rem;
}

#title,
#title-edit-task {
  font-weight: 700;
}

/* Collapsed Sidebar */
.sidebar.closed {
  width: 3.5rem;
}

.sidebar.closed + .task_container,
.sidebar.hoverable + .task_container {
  width: calc(100vw - 3.5rem);
  left: 3.5rem;
}

.sidebar.closed .app_logo,
.sidebar.closed .app_name,
.sidebar.closed .nonProjectDirectory,
.sidebar.closed .taskCount,
.sidebar.closed .project_title_name,
.sidebar.closed .project_directory,
.sidebar.closed .add_project_form_div,
.sidebar.closed .add_project,
.sidebar.closed .footer_text {
  display: none;
}

.sidebar.closed .header {
  grid-template-columns: 1fr;
  justify-items: center;
}

.footer_text,
.add_project button div {
  white-space: nowrap;
}
